.cesium-viewer {
  width: 100%;
  height: 100%;
}

/* Hide all default Cesium bottom controls */
.cesium-viewer-bottom {
  display: none !important;
}

/* Hide Cesium credit/logo */
.cesium-credit-logoContainer,
.cesium-credit-textContainer {
  display: none !important;
}

